#slider {
    width: 384px;
    height: 128px;
    border: 1px solid black;
    margin: 50px auto;
    overflow: hidden;
}

#polosa {
    width:   896px;
    position: relative;
    left: 0;
    transition: all ease 2s;
}

#polosa img {
    float: left;
}